@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Light.eot');
    src: url('Gotham-Light.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Light.woff2') format('woff2'),
        url('Gotham-Light.woff') format('woff'),
        url('Gotham-Light.ttf') format('truetype'),
        url('Gotham-Light.svg#Gotham-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Book.eot');
    src: url('Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Book.woff2') format('woff2'),
        url('Gotham-Book.woff') format('woff'),
        url('Gotham-Book.ttf') format('truetype'),
        url('Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Black.eot');
    src: url('Gotham-Black.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Black.woff2') format('woff2'),
        url('Gotham-Black.woff') format('woff'),
        url('Gotham-Black.ttf') format('truetype'),
        url('Gotham-Black.svg#Gotham-Black') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Bold.eot');
    src: url('Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Bold.woff2') format('woff2'),
        url('Gotham-Bold.woff') format('woff'),
        url('Gotham-Bold.ttf') format('truetype'),
        url('Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Medium.eot');
    src: url('Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Medium.woff2') format('woff2'),
        url('Gotham-Medium.woff') format('woff'),
        url('Gotham-Medium.ttf') format('truetype'),
        url('Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Thin.eot');
    src: url('Gotham-Thin.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Thin.woff2') format('woff2'),
        url('Gotham-Thin.woff') format('woff'),
        url('Gotham-Thin.ttf') format('truetype'),
        url('Gotham-Thin.svg#Gotham-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-XLight.eot');
    src: url('Gotham-XLight.eot?#iefix') format('embedded-opentype'),
        url('Gotham-XLight.woff2') format('woff2'),
        url('Gotham-XLight.woff') format('woff'),
        url('Gotham-XLight.ttf') format('truetype'),
        url('Gotham-XLight.svg#Gotham-XLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('Lexend-ExtraBold.eot');
    src: url('Lexend-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Lexend-ExtraBold.woff2') format('woff2'),
        url('Lexend-ExtraBold.woff') format('woff'),
        url('Lexend-ExtraBold.ttf') format('truetype'),
        url('Lexend-ExtraBold.svg#Lexend-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('Lexend-Bold.eot');
    src: url('Lexend-Bold.eot?#iefix') format('embedded-opentype'),
        url('Lexend-Bold.woff2') format('woff2'),
        url('Lexend-Bold.woff') format('woff'),
        url('Lexend-Bold.ttf') format('truetype'),
        url('Lexend-Bold.svg#Lexend-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('Lexend-Black.eot');
    src: url('Lexend-Black.eot?#iefix') format('embedded-opentype'),
        url('Lexend-Black.woff2') format('woff2'),
        url('Lexend-Black.woff') format('woff'),
        url('Lexend-Black.ttf') format('truetype'),
        url('Lexend-Black.svg#Lexend-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('Lexend-Thin.eot');
    src: url('Lexend-Thin.eot?#iefix') format('embedded-opentype'),
        url('Lexend-Thin.woff2') format('woff2'),
        url('Lexend-Thin.woff') format('woff'),
        url('Lexend-Thin.ttf') format('truetype'),
        url('Lexend-Thin.svg#Lexend-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('Lexend-SemiBold.eot');
    src: url('Lexend-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Lexend-SemiBold.woff2') format('woff2'),
        url('Lexend-SemiBold.woff') format('woff'),
        url('Lexend-SemiBold.ttf') format('truetype'),
        url('Lexend-SemiBold.svg#Lexend-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('Lexend-Light.eot');
    src: url('Lexend-Light.eot?#iefix') format('embedded-opentype'),
        url('Lexend-Light.woff2') format('woff2'),
        url('Lexend-Light.woff') format('woff'),
        url('Lexend-Light.ttf') format('truetype'),
        url('Lexend-Light.svg#Lexend-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('Lexend-ExtraLight.eot');
    src: url('Lexend-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Lexend-ExtraLight.woff2') format('woff2'),
        url('Lexend-ExtraLight.woff') format('woff'),
        url('Lexend-ExtraLight.ttf') format('truetype'),
        url('Lexend-ExtraLight.svg#Lexend-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('Lexend-Medium.eot');
    src: url('Lexend-Medium.eot?#iefix') format('embedded-opentype'),
        url('Lexend-Medium.woff2') format('woff2'),
        url('Lexend-Medium.woff') format('woff'),
        url('Lexend-Medium.ttf') format('truetype'),
        url('Lexend-Medium.svg#Lexend-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('Lexend-Regular.eot');
    src: url('Lexend-Regular.eot?#iefix') format('embedded-opentype'),
        url('Lexend-Regular.woff2') format('woff2'),
        url('Lexend-Regular.woff') format('woff'),
        url('Lexend-Regular.ttf') format('truetype'),
        url('Lexend-Regular.svg#Lexend-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('Outfit-Black.eot');
    src: url('Outfit-Black.eot?#iefix') format('embedded-opentype'),
        url('Outfit-Black.woff2') format('woff2'),
        url('Outfit-Black.woff') format('woff'),
        url('Outfit-Black.ttf') format('truetype'),
        url('Outfit-Black.svg#Outfit-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('Outfit-Bold.eot');
    src: url('Outfit-Bold.eot?#iefix') format('embedded-opentype'),
        url('Outfit-Bold.woff2') format('woff2'),
        url('Outfit-Bold.woff') format('woff'),
        url('Outfit-Bold.ttf') format('truetype'),
        url('Outfit-Bold.svg#Outfit-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('Outfit-ExtraBold.eot');
    src: url('Outfit-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Outfit-ExtraBold.woff2') format('woff2'),
        url('Outfit-ExtraBold.woff') format('woff'),
        url('Outfit-ExtraBold.ttf') format('truetype'),
        url('Outfit-ExtraBold.svg#Outfit-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('Outfit-Light.eot');
    src: url('Outfit-Light.eot?#iefix') format('embedded-opentype'),
        url('Outfit-Light.woff2') format('woff2'),
        url('Outfit-Light.woff') format('woff'),
        url('Outfit-Light.ttf') format('truetype'),
        url('Outfit-Light.svg#Outfit-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('Outfit-ExtraLight.eot');
    src: url('Outfit-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Outfit-ExtraLight.woff2') format('woff2'),
        url('Outfit-ExtraLight.woff') format('woff'),
        url('Outfit-ExtraLight.ttf') format('truetype'),
        url('Outfit-ExtraLight.svg#Outfit-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('Outfit-Regular.eot');
    src: url('Outfit-Regular.eot?#iefix') format('embedded-opentype'),
        url('Outfit-Regular.woff2') format('woff2'),
        url('Outfit-Regular.woff') format('woff'),
        url('Outfit-Regular.ttf') format('truetype'),
        url('Outfit-Regular.svg#Outfit-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('Outfit-Medium.eot');
    src: url('Outfit-Medium.eot?#iefix') format('embedded-opentype'),
        url('Outfit-Medium.woff2') format('woff2'),
        url('Outfit-Medium.woff') format('woff'),
        url('Outfit-Medium.ttf') format('truetype'),
        url('Outfit-Medium.svg#Outfit-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('Outfit-Thin.eot');
    src: url('Outfit-Thin.eot?#iefix') format('embedded-opentype'),
        url('Outfit-Thin.woff2') format('woff2'),
        url('Outfit-Thin.woff') format('woff'),
        url('Outfit-Thin.ttf') format('truetype'),
        url('Outfit-Thin.svg#Outfit-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('Outfit-SemiBold.eot');
    src: url('Outfit-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Outfit-SemiBold.woff2') format('woff2'),
        url('Outfit-SemiBold.woff') format('woff'),
        url('Outfit-SemiBold.ttf') format('truetype'),
        url('Outfit-SemiBold.svg#Outfit-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

